<p>
  <a href="/register">
    Register
  </a>

<h3>Login with Email</h3>
<form id="login" action="/login" method="post">
  Email
  <input class="form-control" type="email" name="email" id="email">
  <button class="btn btn-primary" type="submit">Login</button>
<br />
    <input type="hidden" name="id" value="{{ user._id }}" /> <br />

</form>
</p>